cmake-build-debug
cmake-build-debug/*
class
ex00/megaphone
*.out
.idea
ex01/phonebook
CPP_Module_02/ex00/*.o
CPP_Module_02/ex00/fixed
CPP_Module_02/ex01/*.o
CPP_Module_02/ex01/fixed
CPP_Module_03/ex00/*.o
CPP_Module_03/ex00/clapTrap
CPP_Module_03/ex01/*.o
CPP_Module_03/ex01/scavTrap
CPP_Module_03/ex02/*.o
CPP_Module_03/ex02/fragTrap
CPP_Module_03/ex03/*.o
CPP_Module_03/ex03/fragTrap